.container{
    max-width:65vw;
    margin: 0 auto;
    font-size: 1vmax;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parallax{
    background: url('/portfolio3-main/img/linguagens.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    width: 97vw;
    margin-top: 5vh;
}
.sections{
    display: flex;
    justify-content: space-evenly;

}
.sections .materias .img{
    width: 10%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sections .materias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vmax;
}
.parallax{
    background: url('/portfolio3-main/img/mapa-mundi.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    width: 97vw;
    margin-top: 5vh;
}
body{
    height: 1000vh;
}